#big-nav-bar{
  display: flex;
  height: 200px;
  width: 100%;
  background-color: #2698D3;
}

.profile-picture-frame{
  display: block;
  position: static;
  height: 150px;
  width: 150px;
  border: #fff800 2px solid;
  border-radius: 100px;
  margin: 20px;
}

.add-user-button{
  position: absolute;
  top: 160px;
  left: 250px;
}


.user-name{
  font-weight: bold;
  font-size: 20px;
}

.user-field{
  position: static;
  top: 25px;
  left: 200px;
}

.friends-list{
  width: 50%;
  height: 100%;
  background-color: #464242;
  border: 4px yellowgreen solid;
}

.chat-panel{
  width: 50%;
  background-color: #2698D3;
  height:100%;
  border: 4px red solid;
}

.main-content{
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.profile-picture{
  width: 150px;
  height: 150px;
}

.friends-list-text{
  color: white;
}

.friend-list-card{
  border: 2px solid grey;
  border-radius: 4px;

}
.logout-btn{
  position: absolute;
  top: 20px;
  right: 30px;

}

.edit-user-btn{
  position: absolute;
  top: 20px;
  right: 80px;

}