<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Codecool Live Messenger</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>

<body class="top-part">
<div class="up-left bouncy">
    <img class="up-left" width="150px" src="/ccLivelogo.png" alt="">
</div>
<div>
    <h1 class="center welcome animate-character">Welcome to CC Live Messenger!</h1>
    <p class="center welcome-p">If you like old good MSN messenger you will like it too.</p>

</div>

<div class="center">
    <a href=""><button class="center landing-butt bouncy"> Login </button></a>
    <a href=""><button class="center landing-butt bouncy" style="animation-delay:0.07s"> Register </button></a>
</div>



</body>
</html>